body {
    font-family: "Helvetica", "PT Sans", sans-serif; 
}

.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cat {
    width: 400px;
    align-self: left;
}

.number {
    font-size: 4rem;
}